<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace= "~{base::Layout(~{::section})}">
    <head>
        <meta charset="utf-8">
      
        <title></title>
        <meta name="description" content="">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="">
    </head>
    <body>

        <section>
            <div class="container card-sh" style="margin-top: 150px">
                <div class="col-md-12 p-5">

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img th:src="@{'/img/product/'+${product.image}}" width="350px" height="400px" alt="">
                        </div>

                        <div class="col-md-6">
                            <p class="fs-3">[[${product.title}]]</p>
                            <p>
                                <span class="fw-bold">Description</span><br>
                                [[${product.description}]]
                            </p>
                            <p>
                                <span class="fw-bold">Product Details</span>
                                <br>Status :<span th:if= "${product.stock>0}" class="bg-success">Available</span>
                                            <span th:unless= "${product.stock>0}" class="badge bg-info">Not Available</span>
                                <br>
                                Category : [[${product.category}]]
                                <br>
                                Policy : 7 Days Replacement & Return
                            </p>
                            <p class="fs-5 fw-bold">
                                Price : &#8377; [[${product.discountPrice}]]
                                <span class="fs-6 text-decoration-line-through text-secondary"> &#8377; [[${product.price}]]</span>
                                <span class="fs-6 text-success">[[${product.discount}]]&#37; off</span>
                            </p>

                            <div class="d-flex justify-content">
                               
                                <div class="col-md-4 p-2">
                                  <i class="fas fa-money-bill-wave text-success mr-1"></i> Cash on Delivery
                                </div>
                                
                                <div class="col-md-4 p-2">
                                  <i class="fas fa-undo text-info mr-1"></i> Return Available
                                </div>
                               
                                <div class="col-md-4 p-2">
                                  <i class="fas fa-truck text-primary mr-1"></i> Free Shipping
                                </div>
                            </div>
                            
                            <th:block th:if= "${product.stock>0}">
                                <a href="#" class="btn btn-danger col-md-12">Add To Cart</a>
                            </th:block>
                            <th:block th:unless= "${product.stock>0}">
                                <a class="btn btn-warning col-md-12">Out Of Stock</a>
                            </th:block>
                            
                        </div>

                    </div>
                </div>
            </div>
        </section>
       

    </body>
</html>